
body{
    background-color: #d9d9d9;
    display: block;
    overflow:auto;
    }

.top{
    background-color: #F89B66;
    align-items:left;
    height:max-content;
    width:120%;
    font-size: 20px;
    }

.line{
    background-color: #ac9388;
    height:10px;
    width: 120%;
}

