
body{
    background-color: #d9d9d9;
    background-size:100%;
    display: block;
    overflow:auto;
    
    
    }

.top{
    background: #F89B66;
    height: 130px;
    width: 100%;
    margin: -20px, -20px;
    font-size:20px;
    color:white;
    position:absolute;
    left:0; top:0;
    
    }

.line{
    display: block;
    background-color: #ac9388;
    height:10px;
    width: 100%;
}

.top-botton{
    position: absolute;
    margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
    right: 2px;
}

#photo {
    background:url(../images/picture.png) ;
    height:27px;
    width:30px;
    border:none;
}

#bar {
    background:url(../images/bar.png) ;
    height:27px;
    width:30px;
    margin: 12px ;
    border:none;
}

h2{
    position:relative;
    top: 15px;left:15px;
    
}

.buttons{
    position: relative;
    top: 130px; left:0; 
    text-align:center;
}

#check{
    background: url(../images/button-check.png);
    background-size: 100%;
    height:156px;
    width:164px;
    border:none;
    margin:2px;
}

#report{
    background: url(../images/button-report.png);
    background-size: 100%;
    height:156px;
    width:164px;
    border:none;
    margin:2px;
}

#train{
    background: url(../images/button-train.png);
    background-size: 100%;
    height:156px;
    width:164px;
    border:none;
    margin:2px;
}

#wechat{
    background: url(../images/button-wechat.png);
    background-size: 100%;
    height:156px;
    width:164px;
    border:none;
    margin:2px;
}

#email{
    background: url(../images/button-email.png);
    background-size: 100%;
    height:156px;
    width:164px;
    border:none;
    margin:2px;
}

#cloud{
    background: url(../images/button-cloud.png);
    background-size: 100%;
    height:156px;
    width:164px;
    border:none;
    margin:2px;
}

